# AWS credentials
# AWS_PROFILE=hivemind
AWS_DEFAULT_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# CockroachDB secrets
DATABASE_URL="postgresql://user:pass@cluster.crdb.io:26257/hivemind?sslmode=verify-full"
COCKROACHDB_MCP_ENDPOINT=
COCKROACHDB_MCP_API_KEY=
COCKROACHDB_CLUSTER_ID=
COCKROACHDB_DATABASE=hivemind
MCP_TIMEOUT_SECONDS=15

# LLM Model IDs
TITAN_MODEL_ID  = ""
CLAUDE_MODEL_ID = ""