# DATABASE_URL = "postgresql://hivemind:Dm2-QJVCTC2-EYecNbtCeg@hive-mind-28751.j77.aws-ap-southeast-1.cockroachlabs.cloud:26257/defaultdb?sslmode=require"
DATABASE_URL="postgresql://hivemind:Dm2-QJVCTC2-EYecNbtCeg@hive-mind-28751.j77.aws-ap-southeast-1.cockroachlabs.cloud:26257/hivemind?sslmode=require"